$base_unit: 10px;

.mt-1 {
    margin-top: $base_unit;
}

.mt-2 {
    margin-top: $base_unit*2;
}

.mt-3 {
    margin-top: $base_unit*3;
}

.mr-1 {
    margin-right: $base_unit;
}

.mr-2 {
    margin-right: $base_unit*2;
}

.mr-3 {
    margin-right: $base_unit*3;
}

.mb-1 {
    margin-bottom: $base_unit;
}

.mb-2 {
    margin-bottom: $base_unit*2;
}

.mb-3 {
    margin-bottom: $base_unit*3;
}

.ml-1 {
    margin-left: $base_unit;
}

.ml-2 {
    margin-left: $base_unit*2;
}

.ml-3 {
    margin-left: $base_unit*3;
}