#app {
    margin-top: 70px;
}

.active {
    background-color: rgb(221, 221, 221) !important;
}

.underline {
    text-decoration: underline;
}

.inline {
    display: inline;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}